header {
  background-color: #00a9e0;
  color: white;
}

header a {
  color: #FFEF00;
}

header button {
  background-color: #FF69B4;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

th {
  background-color: lightgray;
}