 header {
        background-color: maroon;
        color: white;
      }

      header a {
        color: white;
      }

      h1 {
        text-align: center;
      }

      .user-info {
        text-align: center;
      }

      th {
        background-color: lightgray;
      }

      td {
        text-align: center;
      }